
:root{
  --gunmetal:rgba(88, 88, 88, .4);
  --gris:#585858;
  --mint: #3DAA7F;
  --green: #02C39A;
  }

.fondo{
    min-height: 100vh;
   /* background: url(../img/background1.png) no-repeat;*/
    background-size: cover;
    background-attachment: fixed;
  
  background: #ED213A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.footer{
    background-color: var(--gris) !important;
}


.dark-overlay{
      background-color: rgba(0,0,0,0.3);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      transition: all 1s ease;
}

.fondo1{


}

.bg-custom{
  background-color: var(--gris) !important;
  transition: all 1s ease;
}

.navbar-custom{
  /*background-color: var(--gunmetal) !important;*/
  transition: all 1s ease;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}



/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .header-inner{
        padding: 50px;
    }
    .fa-18 {
        font-size: 10rem !important;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    .header-inner{ 
         padding: 90px;
    }
    .fa-18 {
        font-size: 12rem !important;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .header-inner{ 
           padding: 120px;
    }
    .fa-18 {
        font-size: 12rem !important;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .header-inner{
        padding: 200px;
    }
    .fa-18 {
        font-size: 18rem !important;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .header-inner{
        padding: 200px;
    }
    .fa-18 {
        font-size: 18rem !important;
    }
}
